<!DOCTYPE html>

<html>
    <head>
        <title>Bill Game &raquo; {% block title %}{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-3e5vG6/QiyHhwOR48/nvSyd+BAndFCuA4km61zJyky3Xr6mlaGNvyvJZjtac/He7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        {% block body %} {% endblock %}
    </body>
</html>